# Template per glusterfs
---
kind: Endpoints
apiVersion: v1
metadata:
  name: glusterfs-ep-{{ item }}
subsets:
{% for host in groups['gluster'] %}
  - addresses:
    - ip: {{ hostvars[host]['ansible_all_ipv4_addresses'][0] }}
    ports:
      - port: 1
{% endfor %}
---
kind: Service
apiVersion: v1
metadata:
  name: glusterfs-ep-{{ item }}
spec:
  ports:
    - port: 1
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gluster-volume-vol01-{{ item }}
  annotations:
    pv.beta.kubernetes.io/gid: "100"
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadOnlyMany
  glusterfs:
    endpoints: glusterfs-ep
    path: vol01
    readOnly: false
  persistentVolumeReclaimPolicy: Retain
