[defaults]
host_key_checking = false
inventory = playbooks/inventory
inventory_ignore_extensions = .conf
library  = $HOME/.ansible/plugins/modules:/usr/share/ansible/plugins/modules:playbooks/kubespray/library
roles_path = $HOME/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:playbooks/kubespray/roles/
