server.port: 5601
server.host: 0.0.0.0
elasticsearch.hosts: {{ kibana_elastic_hosts }}
elasticsearch.username: "kibana"
elasticsearch.password: {{ elasticsearch_secrets.kibana }}
elasticsearch.ssl.certificateAuthorities: /etc/wai/pki/wai-ca.crt
xpack.security.encryptionKey: {{ kibana_encryption_key }}
