[Unit]
Description={{ prometheus_exporter_service_description }}

[Service]
User={{ prometheus_exporter_user }}
EnvironmentFile=/etc/default/{{ prometheus_exporter_bin }}
ExecStart={{ prometheus_exporter_home }}/{{ prometheus_exporter_bin }} $OPTIONS
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target