apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
  name: storage-heketi
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{ hostvars[groups['gluster'][0]]['ansible_default_ipv4']['address'] }}:8080"
  restuser: "admin"
  restuserkey: "{{ heketi_secrets.admin }}"
