# K8S Namespaces
{% for ns in wai_k8s_namespaces %}

---
apiVersion: v1
kind: Namespace
metadata:
   name: {{ ns }}

---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota-{{ ns }}
  namespace: {{ ns }}
spec:
  hard:   
  {% for key, value in wai_k8s_resource_quota[ns].items() %}
  {{ key }}: {{ value }}
  {% endfor %}
{% endfor %}

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: wai-cluster-role-full-access
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---
# K8S Cluster Role with view access
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: wai-cluster-role-view-access
rules:
- apiGroups: ["", "extensions", "apps"]
  resources:
    - componentstatuses
    - configmaps
    - daemonsets
    - deployments
    - events
    - endpoints
    - horizontalpodautoscalers
    - ingress
    - jobs
    - limitranges
    - namespaces
    - nodes
    - pods
    - persistentvolumes
    - persistentvolumeclaims
    - replicasets
    - replicationcontrollers
    - secrets
    - serviceaccounts
    - services
  verbs: ["get", "watch", "list"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["get", "list"]
{% for ns in wai_k8s_namespaces %}

---
# K8S Service Account {{ ns }}-view-account
apiVersion: v1
kind: ServiceAccount
metadata:
  name:  {{ ns }}-view-account
  namespace: {{ ns }}

---
# K8S Service Account {{ ns }}-full-account
apiVersion: v1
kind: ServiceAccount
metadata:
  name:  {{ ns }}-full-account
  namespace: {{ ns }}

---
# K8S RoleBinding {{ ns }}-role-binding-view-access
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ ns }}-role-binding-view-access
  namespace: {{ ns }}
subjects:
- kind: ServiceAccount
  name: {{ ns }}-view-account
  namespace: {{ ns }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: wai-cluster-role-view-access

---
# K8S RoleBinding {{ ns }}-role-binding-view-access
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ ns }}-role-binding-full-access
  namespace: {{ ns }}
subjects:
- kind: ServiceAccount
  name: {{ ns }}-full-account
  namespace: {{ ns }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: wai-cluster-role-full-access
{% endfor %}
