# {{ ansible_managed }}
# K8S Namespaces
---
apiVersion: v1
kind: Namespace
metadata:
   name: {{ item }}
   labels:
     environment: {{ item }}
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota-{{ item }}
  namespace: {{ item }}
spec:
  hard:   
  {% for key, value in wai_k8s_resource_quota[item].items() %}
  {{ key }}: {{ value }}
  {% endfor %}

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-only-intra-namespace
  namespace: {{ item }}
spec:
  podSelector: {}
  ingress:
  - from:
     - namespaceSelector:
          environment: {{ item }}
        matchLabels:
  policyTypes:
  - Ingress
---
# K8S Service Account {{ item }}-view-account
apiVersion: v1
kind: ServiceAccount
metadata:
  name:  {{ item }}-view-account
  namespace: {{ item }}

---
# K8S Service Account {{ item }}-full-account
apiVersion: v1
kind: ServiceAccount
metadata:
  name:  {{ item }}-full-account
  namespace: {{ item }}

---
# K8S RoleBinding {{ item }}-role-binding-view-access
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ item }}-role-binding-view-access
  namespace: {{ item }}
subjects:
- kind: ServiceAccount
  name: {{ item }}-view-account
  namespace: {{ item }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: wai-cluster-role-view-access

---
# K8S RoleBinding {{ item }}-role-binding-view-access
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ item }}-role-binding-full-access
  namespace: {{ item }}
subjects:
- kind: ServiceAccount
  name: {{ item }}-full-account
  namespace: {{ item }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: wai-cluster-role-full-access
