{% for ns in wai_k8s_namespaces %}
{% for user, secret in wai_database_password[ns].items() %}

---
apiVersion: v1
kind: Secret
metadata:
  name: matomo-secret-{{ user }}
  namespace: {{ ns }}
type: Opaque
data:
  password: {{ secret | b64encode }}

{% endfor %}
{% endfor %}
