---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: matomo-worker
  namespace: {{ item }}
spec:
  replicas: {{ wai_matomo_pod_size[item][matomo_pod_size_index] }}
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: matomo-worker
  serviceName: matomo-worker
  template:
    metadata:
      labels:
        app: matomo-worker
    spec:
      containers:
      - image: {{ wai_matomo_base_image }}
        name: matomo-worker
        resources:
          limits:
            cpu: "0.50"
            memory: "256Mi"
        command: ["/bin/sh", "-c"]
        args: ["/entrypoint.sh; . /var/www/scripts/qt-worker.sh"]
        readinessProbe:
          exec:
            command:
            - cat
            - /var/www/html/config/config.ini.php
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: matomo-worker-conf
          mountPath: /var/www/scripts
        - name: matomo-php-config
          mountPath: /tmp/config
        env:
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: matomo-secret-{{ matomo_database_user }}
              key: password
        - name: DATABASE_USER
          value: {{ matomo_database_user }}
        - name: DATABASE_HOST
          value: {{ matomo_database_host }}
      volumes:
        - name: matomo-worker-conf
          configMap:
            name: matomo-worker-conf
        - name: matomo-php-config
          configMap: 
            name: matomo-php-config
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matomo-worker-conf
  namespace: {{ item }}
data:
  qt-worker.sh: |-
    #!/bin/sh
    QUEUE_ID=${HOSTNAME##*-}
    cd /var/www/html
    while true;
    do
      ./console queuedtracking:process --queue-id $QUEUE_ID > /dev/null 2>&1
      sleep 0.5
    done

