# {{ ansible_managed }}
# Matomo secrets
{% for user, secret in wai_database_password[item].items() %}

---
apiVersion: v1
kind: Secret
metadata:
  name: matomo-secret-{{ user }}
  namespace: {{ item }}
type: Opaque
data:
  password: {{ secret | b64encode }}

{% endfor %}
