# {{ ansible_managed }}
{% if redis_password.ingestion_redis_master[item] is defined%}
# Redis ingesion secret
---
apiVersion: v1
kind: Secret
metadata:
  name: ingestion-redis-master-secret
  namespace: {{ item }}
type: Opaque
data:
  password: {{ redis_password.ingestion_redis_master[item] | b64encode }}
{% endif %}
{% if redis_password.application_redis_master[item] is defined%}
# Redis application secret
---
apiVersion: v1
kind: Secret
metadata:
  name: application-redis-master-secret
  namespace: {{ item }}
type: Opaque
data:
  password: {{ redis_password.application_redis_master[item] | b64encode }}
{% endif %}
