# Environment name
environment = "staging"
environment_short = "stag"

# MariaDB slug name
mariadb_slug = "mariadb"

# MariaDB network CIDR
mariadb_network_cidr = "<CIDR>"

# MariaDB instance parameters
mariadb_instance = {
    image_id = "<IMAGE_ID>"
    flavor_id = "<FLAVOR_ID>"
    num_instances = <NUM_OF_INSTANCES>
    boot_volume_size = <VOLUME_SIZE>
    boot_volume_type = <VOLUME_TYPE>
    data_volume_size = <VOLUME_SIZE>
    data_volume_type = <VOLUME_TYPE>
}

# MariaDB instance groups added to metadata for ansible dynamic inventory
# Each item in the list will be added to the corresponding instance number
# i.e. the first item in the list will be added to the first instance and so on
# if there are more instances than items in the list it will restart from the first one
mariadb_instance_groups = ["mariadb-stag"]

# MariaDB security rules
mariadb_sec_rules = [
    {
        protocol = "icmp"
        from = 0
        to = 0
        cidr = "0.0.0.0/0"
    },
    {
        protocol = "tcp"
        from = 22
        to = 22
        cidr = "0.0.0.0/0"
    },
    {
        protocol = "tcp"
        from = 3306
        to = 3306
        cidr = "0.0.0.0/0"
    },
    # Prometheus Node Exporter
    {
            protocol = "tcp"
            from = 9100
            to = 9100
            cidr = "0.0.0.0/0"
    },
    # Prometheus MYSQLD Exporter
    {
        protocol = "tcp"
        from = 9104
        to = 9104
        cidr = "0.0.0.0/0"
    }
]
