# {{ ansible_managed }}
{% set matomo_image_arr = ["matomo", "matomo-api", "matomo-ingestion"] %}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matomo-php-config
  namespace: {{ item }}
data:
  config.ini.php: |-
    [database]
    host = "{{ wai_load_balancer[item].rdbms[0] }}"
    username = "{{ wai_database_credentials[item]['matomo-admin-username'] }}"
    password = "{{ wai_database_credentials[item]['matomo-admin-password'] }}"
    dbname = "matomo"

{% if wai_load_balancer[item].rdbms | length > 1 %}
    [database_reader]
    host = "{{ wai_load_balancer[item].rdbms[1] }}"
    username = "{{ wai_database_credentials[item]['matomo-user-username'] }}"
    password = "{{ wai_database_credentials[item]['matomo-user-password'] }}"
    dbname = "matomo"
{% endif %}

    [General]
    salt = "{{ matomo_vars.salt[item] }}"
    trusted_hosts[] = "localhost"
    trusted_hosts[] = "127.0.0.1"
    trusted_hosts[] = "{{ wai_base_domain[item] }}"
    {% for attr in wai_hostname -%}
    trusted_hosts[] = "{{ wai_hostname[attr] }}.{{ wai_base_domain[item] }}"
    {% endfor -%}
    proxy_client_headers[] = HTTP_X_FORWARDED_FOR
    enable_trusted_host_check = 1
    force_ssl = 1
    enable_update_users_email = 0
    emails_enabled = 1
    noreply_email_address = "{{ wai_settings[item].mail.from_address }}"
    noreply_email_name = "{{ wai_settings[item].mail.from_name }}"
    enable_tracking_failures_notification = 0
    assume_secure_protocol = 1
    enable_update_communication = 0
    enable_auto_update = 0
    show_update_notification_to_superusers_only = 1
    enable_delete_old_data_settings_admin = 0
    enable_geolocation_admin = 0
    enable_installer = 0
    enable_plugins_admin = 0
    proxy_uri_header = 1
    enable_general_settings_admin = 0
    browser_archiving_disabled_enforce = 1
    enable_browser_archiving_triggering = 0
    archiving_range_force_on_browser_request = 0
    default_day = "previous30"
    default_period = "range"
    default_language = "it"
    multi_server_environment = 1
    archiving_custom_ranges[] = previous30
    enable_processing_unique_visitors_range = 1
    ;enable_processing_unique_visitors_multiple_sites = 1
    ;anonymous_user_enable_use_segments_API = 0
    time_before_today_archive_considered_outdated = 2700
    time_before_week_archive_considered_outdated = 2700
    time_before_month_archive_considered_outdated = 2700
    time_before_year_archive_considered_outdated = 2700
    time_before_range_archive_considered_outdated = 2700
    enable_create_realtime_segments = 0
    enable_segment_suggested_values = 0
    adding_segment_requires_access = "admin"
    allow_adding_segments_for_all_websites = 0
    process_new_segments_from = "segment_creation_time"
    archiving_ranking_query_row_limit = 0

    [mail]
    transport = smtp
    port = {{ wai_settings[item].mail.port or 25 }}
    host = {{ wai_settings[item].mail.host }}

    [Plugins]
    Plugins[] = "CorePluginsAdmin"
    Plugins[] = "CoreAdminHome"
    Plugins[] = "CoreHome"
    Plugins[] = "WebsiteMeasurable"
    Plugins[] = "IntranetMeasurable"
    Plugins[] = "Diagnostics"
    Plugins[] = "CoreVisualizations"
    Plugins[] = "Proxy"
    Plugins[] = "API"
    Plugins[] = "Widgetize"
    Plugins[] = "Transitions"
    Plugins[] = "LanguagesManager"
    Plugins[] = "Actions"
    Plugins[] = "Dashboard"
    Plugins[] = "MultiSites"
    Plugins[] = "Referrers"
    Plugins[] = "UserLanguage"
    Plugins[] = "DevicesDetection"
    Plugins[] = "Goals"
    Plugins[] = "Ecommerce"
    Plugins[] = "SEO"
    Plugins[] = "Events"
    Plugins[] = "UserCountry"
    Plugins[] = "GeoIp2"
    Plugins[] = "VisitsSummary"
    Plugins[] = "VisitFrequency"
    Plugins[] = "VisitTime"
    Plugins[] = "VisitorInterest"
    Plugins[] = "Monolog"
    Plugins[] = "Login"
    Plugins[] = "UsersManager"
    Plugins[] = "SitesManager"
    Plugins[] = "Installation"
    Plugins[] = "CoreUpdater"
    Plugins[] = "CoreConsole"
    Plugins[] = "ScheduledReports"
    Plugins[] = "UserCountryMap"
    Plugins[] = "Live"
    Plugins[] = "CustomVariables"
    Plugins[] = "PrivacyManager"
    Plugins[] = "ImageGraph"
    Plugins[] = "Annotations"
    Plugins[] = "SegmentEditor"
    Plugins[] = "Insights"
    Plugins[] = "Morpheus"
    Plugins[] = "Contents"
    Plugins[] = "BulkTracking"
    Plugins[] = "Resolution"
    Plugins[] = "DevicePlugins"
    Plugins[] = "Heartbeat"
    Plugins[] = "Intl"
    Plugins[] = "UserId"
    Plugins[] = "CustomPiwikJs"
    Plugins[] = "DisableTracking"
    Plugins[] = "WAIMatomoTheme"
    Plugins[] = "QueuedTracking"
    Plugins[] = "ProtectTrackID"
    Plugins[] = "CustomDimensions"
    Plugins[] = "LoginFilterIp"
    Plugins[] = "TrackerHostname"
    Plugins[] = "SuperUserOnlyRestrictions"
    Plugins[] = "RestrictAnonymousAccess"
    Plugins[] = "CustomPdfReport"

    [PluginsInstalled]
    PluginsInstalled[] = "Diagnostics"
    PluginsInstalled[] = "Login"
    PluginsInstalled[] = "CoreAdminHome"
    PluginsInstalled[] = "UsersManager"
    PluginsInstalled[] = "SitesManager"
    PluginsInstalled[] = "Installation"
    PluginsInstalled[] = "Monolog"
    PluginsInstalled[] = "Intl"
    PluginsInstalled[] = "CorePluginsAdmin"
    PluginsInstalled[] = "CoreHome"
    PluginsInstalled[] = "WebsiteMeasurable"
    PluginsInstalled[] = "IntranetMeasurable"
    PluginsInstalled[] = "CoreVisualizations"
    PluginsInstalled[] = "Proxy"
    PluginsInstalled[] = "API"
    PluginsInstalled[] = "Widgetize"
    PluginsInstalled[] = "Transitions"
    PluginsInstalled[] = "LanguagesManager"
    PluginsInstalled[] = "Actions"
    PluginsInstalled[] = "Dashboard"
    PluginsInstalled[] = "MultiSites"
    PluginsInstalled[] = "Referrers"
    PluginsInstalled[] = "UserLanguage"
    PluginsInstalled[] = "DevicesDetection"
    PluginsInstalled[] = "Goals"
    PluginsInstalled[] = "Ecommerce"
    PluginsInstalled[] = "SEO"
    PluginsInstalled[] = "Events"
    PluginsInstalled[] = "UserCountry"
    PluginsInstalled[] = "GeoIp2"
    PluginsInstalled[] = "VisitsSummary"
    PluginsInstalled[] = "VisitFrequency"
    PluginsInstalled[] = "VisitTime"
    PluginsInstalled[] = "VisitorInterest"
    PluginsInstalled[] = "CoreUpdater"
    PluginsInstalled[] = "CoreConsole"
    PluginsInstalled[] = "ScheduledReports"
    PluginsInstalled[] = "UserCountryMap"
    PluginsInstalled[] = "Live"
    PluginsInstalled[] = "CustomVariables"
    PluginsInstalled[] = "PrivacyManager"
    PluginsInstalled[] = "ImageGraph"
    PluginsInstalled[] = "Annotations"
    PluginsInstalled[] = "SegmentEditor"
    PluginsInstalled[] = "Insights"
    PluginsInstalled[] = "Morpheus"
    PluginsInstalled[] = "Contents"
    PluginsInstalled[] = "BulkTracking"
    PluginsInstalled[] = "Resolution"
    PluginsInstalled[] = "DevicePlugins"
    PluginsInstalled[] = "Heartbeat"
    PluginsInstalled[] = "UserId"
    PluginsInstalled[] = "CustomPiwikJs"
    PluginsInstalled[] = "DisableTracking"
    PluginsInstalled[] = "WAIMatomoTheme"
    PluginsInstalled[] = "QueuedTracking"
    PluginsInstalled[] = "ProtectTrackID"
    PluginsInstalled[] = "CustomDimensions"
    PluginsInstalled[] = "LoginFilterIp"
    PluginsInstalled[] = "TrackerHostname"
    PluginsInstalled[] = "SuperUserOnlyRestrictions"
    PluginsInstalled[] = "RestrictAnonymousAccess"
    PluginsInstalled[] = "CustomPdfReport"

    [WAIMatomoTheme]
    waiUrl = "https://{{ wai_base_domain[item] }}"

    [QueuedTracking]
    backend = redis
    useSentinelBackend = 0
    redisHost = ingestion-redis-master
    redisPort = 6379
    redisDatabase = 0
    redisPassword = {{ redis_password.ingestion_redis_master[item] }}
    queueEnabled = 1
    numQueueWorkers = {{ wai_matomo_pod_size[item]['matomo-worker'] }}
    numRequestsToProcess = 25
    processDuringTrackingRequest = 0
    notify_queue_threshold_single_queue = 250000
{% for email in wai_alert_email_destination | default([]) %}
    notify_queue_threshold_emails[]={{ email }}
{% endfor %}

    [LoginFilterIp]
    allow_login_from[] = "{{ wai_infrastructure_cidr }}"
    {% if openvpn_server_addr is defined -%}
    allow_login_from[] = "{{ openvpn_server_addr }}"
    {% endif -%}
    {% if 'wai-stag' == item -%}
    allow_login_from[] = "0.0.0.0/0"
    {% endif -%}
    redirect_unallowed_to = "https://{{ wai_base_domain[item] }}"

    [TrackerHostname]
    hostname = "{{ wai_hostname['ingestion'] }}.{{ wai_base_domain[item] }}"

    [SuperUserOnlyRestrictions]
    super_user_only_restrictions_enabled = 1

    [RestrictAnonymousAccess]
    allowed_requests[] = "module=Widgetize"
    allowed_requests[] = "module=API&method=API.getMatomoVersion"
    allowed_requests[] = "module=API&method=UsersManager.getTokenAuth"
    allowed_referrers[] = "module=Widgetize&action=iframe&widget=1"

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matomo-initc-config
  namespace: {{ item }}
data:
  entrypoint.sh: |-
    #!/bin/sh
    echo "Starting init container for $1"

    # Copy matomo content to emptydir
    cp -a /var/www/html/* /html/

    # Copy config.ini.php.orig to matomo config folder
    cp /tmp/config.ini.php.orig /html/config/config.ini.php

    # Copy php etc config files to emptydir
    cp -arv /opt/bitnami/php/etc/* /php-etc/

    {% for matomo_image in matomo_image_arr -%}
    {% if wai_matomo_php_extra_vars[item][matomo_image] is defined -%}
    # Update php-fpm or php-ini config if needed
    if [ "$1" = "{{ matomo_image }}" ]; then
      echo "Updating {{ matomo_image }}"
    {% if wai_matomo_php_extra_vars[item][matomo_image]['php-fpm'] is defined -%} 
    {% for prop in wai_matomo_php_extra_vars[item][matomo_image]['php-fpm'] -%}
      echo "{{ prop }} = {{ wai_matomo_php_extra_vars[item][matomo_image]['php-fpm'][prop] }}" >> /php-etc/php-fpm.d/99-matomo.conf
    {% endfor -%}
    {% endif -%}
    {% if wai_matomo_php_extra_vars[item][matomo_image]['php-ini'] is defined -%} 
    {% for prop in wai_matomo_php_extra_vars[item][matomo_image]['php-ini'] -%}
      echo "{{ prop }} = {{ wai_matomo_php_extra_vars[item][matomo_image]['php-ini'][prop] }}" >> /php-etc/conf.d/99-wai.ini
    {% endfor -%}
    {% endif -%}
    fi
    {%- endif %}


    {% endfor -%}

    # Create a soft link to geoip file even if it does not exist because of it is not in the image. The cron archive job will create this file.
    MATOMO_GEOIP_PATH=/html/misc/DBIP-City.mmdb
    MATOMO_GEOIP_EXTERNAL_PATH=/opt/extra-content/geoip/DBIP-City.mmdb
    rm -f $MATOMO_GEOIP_PATH
    ln -s $MATOMO_GEOIP_EXTERNAL_PATH $MATOMO_GEOIP_PATH

    # Copy premium plugins
    MATOMO_INI=/html/config/config.ini.php
    find -P /opt/extra-content/premium_plugins/* -prune -type d -printf "%f\n" | while IFS= read -r directory; do
        # Extract plugin code
        unzip -u "/opt/extra-content/premium_plugins/$directory/*.zip" -d /html/plugins
        if ! grep -q "$directory" $MATOMO_INI; then
            # Add plugin into "installed" list
            sed -i -E -e "/^PluginsInstalled\[\] = .*$/!b;:a;n;//ba;i\PluginsInstalled\[\] = \"$directory\"" $MATOMO_INI

            # Add plugin into "activated" list
            sed -i -E -e "/^Plugins\[\] = .*$/!b;:a;n;//ba;i\Plugins\[\] = \"$directory\"" $MATOMO_INI

            # Add plugin specific configuration
            if [ -f "/opt/extra-content/premium_plugins/$directory/config.ini.php" ]; then
                echo "" >> $MATOMO_INI
                echo "[$directory]" >> $MATOMO_INI
                cat "/opt/extra-content/premium_plugins/$directory/config.ini.php" >> $MATOMO_INI
                echo "" >> $MATOMO_INI
            fi
        fi
    done
    chown -R 33:33 /html/

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matomo-cron-config
  namespace: {{ item }}
data:
  entrypoint.sh: |-
    #!/bin/sh

    set -e

    MATOMO_GEOIP_PATH=/var/www/html/misc/DBIP-City.mmdb
    MATOMO_GEOIP_EXTERNAL_PATH=/opt/extra-content/geoip/DBIP-City.mmdb
    rm -f $MATOMO_GEOIP_PATH
    chmod +x /var/www/html/console ; cd /var/www/html/
    echo "memory_limit = {{ wai_matomo_php_extra_vars[item]['matomo-cron-job']['php-ini'].memory_limit }}" >> /opt/bitnami/php/etc/conf.d/wai.ini
    ./console core:archive $ARCHIVE_OPTS
    ./console core:delete-logs-data --dates `date +%Y-%m-%d -d "-75 days"`,`date +%Y-%m-%d -d "-45 days"` -vvv -n
    if [ -f "$MATOMO_GEOIP_PATH" ]; then
      cp -f $MATOMO_GEOIP_PATH $MATOMO_GEOIP_EXTERNAL_PATH
    fi
