---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: matomo-worker
  namespace: {{ item }}
spec:
  replicas: {{ wai_matomo_pod_size[item]['matomo-worker'] }}
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: matomo-worker
  serviceName: matomo-worker
  template:
    metadata:
      labels:
        app: matomo-worker
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - matomo-worker
            topologyKey: "kubernetes.io/hostname"
      containers:
      - image: {{ wai_matomo_image }}:{{ 'latest' if item == 'wai-stag' else wai_matomo_image_tag }}
        name: matomo-worker
        resources:
          limits:
            cpu: "0.50"
            memory: "256Mi"
        command: ["/bin/sh", "/var/www/scripts/qt-worker.sh"]
        readinessProbe:
          exec:
            command: ["php", "/var/www/html/console", "-V"]
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          exec:
            command: ["php", "/var/www/html/console", "-V"]
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
        volumeMounts:
        - name: matomo-worker-conf
          mountPath: /var/www/scripts
        - name: matomo-php-config
          mountPath: /var/www/html/config/config.ini.php
          subPath: config.ini.php
      volumes:
        - name: matomo-worker-conf
          configMap:
            name: matomo-worker-conf
        - name: matomo-php-config
          configMap: 
            name: matomo-php-config
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: matomo-worker-conf
  namespace: {{ item }}
data:
  qt-worker.sh: |-
    #!/bin/sh
    QUEUE_ID=${HOSTNAME##*-}
    cd /var/www/html
    while true;
    do
      php console queuedtracking:process --queue-id $QUEUE_ID
      sleep 0.5
    done

