apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: matomo-core-archive-all
  namespace: {{ item }}
spec:
  schedule: "00 01 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
          - name: copy
            image: {{ wai_matomo_image }}:{{ 'latest' if item == 'wai-stag' else wai_matomo_image_tag }}
            imagePullPolicy: {{ 'Always' if item == 'wai-stag' else 'IfNotPresent' }}
            command: ["sh", "-c", ". /entrypoint.sh"]
            resources:
              limits:
                cpu: 0.1
                memory: "50Mi"
            volumeMounts:
            - mountPath: /html
              name: html
            - name: matomo-php-config
              mountPath: /tmp/config.ini.php.orig
              subPath: config.ini.php
            - name: matomo-initc-config
              mountPath: /entrypoint.sh
              subPath: entrypoint.sh
            - name: matomo-extra-content
              mountPath: /opt/extra-content
          containers:
          - name: matomo-cron
            image: {{ wai_matomo_image }}:{{ 'latest' if item == 'wai-stag' else wai_matomo_image_tag }}
            imagePullPolicy: {{ 'Always' if item == 'wai-stag' else 'IfNotPresent' }}
            command: ["sh", "-c", ". /entrypoint.sh"]
            resources:
              limits:
                cpu: "0.50"
                memory: "256Mi"
            volumeMounts:
            - mountPath: /var/www/html/
              name: html
            - name: matomo-cron-config
              mountPath: /entrypoint.sh
              subPath: entrypoint.sh
            - name: matomo-extra-content
              mountPath: /opt/extra-content
          restartPolicy: OnFailure
          volumes:
            - name: matomo-php-config
              configMap:
                name: matomo-php-config
            - name: matomo-extra-content
              persistentVolumeClaim:
                claimName: matomo-extra-content-pvc
            - name: matomo-initc-config
              configMap:
                name: matomo-initc-config
            - name: matomo-cron-config
              configMap:
                name: matomo-cron-config
            - name: html
              emptyDir: {}
