# {{ ansible_managed }}
# Redis ingesion secret
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-master-secret
  namespace: {{ item }}
type: Opaque
data:
  ingestion-redis-password: {{ redis_password.ingestion_redis_master[item] | b64encode }}
  application-redis-password: {{ redis_password.application_redis_master[item] | b64encode }}
  ipa-redisearch-password: {{ redis_password.ipa_redisearch_master[item] | b64encode }}
  
