apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matomo-extra-content-pvc
  namespace: {{ item }}
spec:
  accessModes:
    - ReadOnlyMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: storage-heketi
