apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer-{{ item }}
    kubernetes.io/ingress.class: nginx-{{ item }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Backend matomo;
  name: api-matomo
  namespace: {{ item }}
spec:
  rules:
  - host: {{ wai_hostname['api'] }}.{{ wai_base_domain[item] }}
    http:
      paths:
      - backend:
          serviceName: cache-service
          servicePort: 80
        path: /matomo
  tls:
  - hosts:
    - {{ wai_hostname['api'] }}.{{ wai_base_domain[item] }}
    secretName: api-ingress-acme-tls
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer-{{ item }}
    kubernetes.io/ingress.class: nginx-{{ item }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Backend kong;
  name: api-kong
  namespace: {{ item }}
spec:
  rules:
  - host: {{ wai_hostname['api'] }}.{{ wai_base_domain[item] }}
    http:
      paths:
      - backend:
          serviceName: cache-service
          servicePort: 80
        path: /
  tls:
  - hosts:
    - {{ wai_hostname['api'] }}.{{ wai_base_domain[item] }}
    secretName: api-ingress-acme-tls
